{% extends "notes/base.html" %}
{% block title %}Notes{% endblock title %}
{% block heading %}Django Vanilla Extract{% endblock heading %}
{% block content %}
{% if note_list %}
<table>
    <tr>
        <th>Message</th>
        <th>Completed</th><th></th>
    </tr>
    {% for note in note_list %}
    <tr>
        <td><a href="{% url 'edit_note' note.pk %}">{{ note.message }}</a></td>
        <td>{{ note.checkbox_character }}</td>
        <td>
            <form method="POST" action="{% url 'delete_note' note.pk %}">
                {% csrf_token %}
                <input type="submit" class="button warn" value="Delete"></input>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<p><a class="button" href="{% url 'create_note' %}">Create a new note</a></p>
{% endblock content %}
